---
import UsecaseBgVector from "@/components/shared/astro-components/usecase-bg-vector.astro";
import UsecaseContentBgVector from "@/components/shared/astro-components/usecase-content-bg-vector.astro";
import Button from "@/components/ui/astro-ui/button.astro";
import Tag from "@/components/ui/astro-ui/tag.astro";
import { parseHeroText } from "@/utils/text-formatter";
import OSMUsecaseContents from "@/content/osm_usecases.json";
import type { OSMUsecaseContentsType } from "@/types/content";
import { ArrowRight } from "@/assets/icons/react/ArrowRight";
interface Props {
  data: Record<string, string>;
  slug: string;
}

const typedOSMUsecaseContents = OSMUsecaseContents as OSMUsecaseContentsType;

const { data, slug } = Astro.props;
const heroText = parseHeroText(data.title);

type UseCase = {
  title: string;
  description: string;
  imagePath?: string;
  imageAlt?: string;
  articleLink?: string;
  authors?: string[];
  sourceName?: string;
  sourceLink?: string;
};

const usecases: UseCase[] =
  typedOSMUsecaseContents[slug]?.["use-cases"]
    ?.map(
      (item): UseCase => ({
        title: item.title,
        description: item.description,
        imagePath: item.image?.path,
        imageAlt: item.image?.alt,
        articleLink: item.link,
        authors: item.author,
        sourceName: item.source?.name,
        sourceLink: item.source?.link,
      }),
    )
    .filter((item) => item.title && item.description && item.imagePath) || [];

const callToActionCards = Object.keys(data)
  .filter((key) => key.startsWith("CTACard") && key.endsWith("Title"))
  .map((key) => {
    const index = key.match(/\d+/)?.[0];
    return {
      title: data[`CTACard${index}Title`],
      description: data[`CTACard${index}Description`],
      buttonText: data[`CTACard${index}ButtonText`],
      buttonLink: data[`CTACard${index}ButtonLink`],
    };
  })
  .filter((item) => item.title && item.description);
---

<main class="h-full w-full">
  <UsecaseBgVector
    className="w-full gap-12 px-4 transition-all delay-200 ease-in-out md:px-6 lg:p-0"
  >
    <div class="max-w-[45.219rem] space-y-6 text-center" id="box">
      <div class="space-y-6">
        <Tag>
          {data.usecase}
        </Tag>
      </div>
      <h1 class="text-3xl font-semibold sm:text-6xl" set:html={heroText} />
      <p id="typingBox" class="text-grey-300 text-sm font-normal sm:text-lg">
        {data.description}
      </p>
    </div>
    <div class="flex max-w-fit flex-col">
      <Button
        size="lg"
        icon_name="arrow_right"
        class="w-full"
        id="start-contributing-button"
        href={data.CTALink}
        target="_blank"
      >
        {data.CTAText}
      </Button>
    </div>
  </UsecaseBgVector>
  <UsecaseContentBgVector
    className="h-full w-full bg-green-50 bg-[position:10.8rem_0%] pb-[6.8rem] md:bg-[position:100%_6rem]"
  >
    <div
      class="page-container flex h-full w-full flex-col items-center justify-end py-[6.8rem] sm:py-[11.125rem]"
    >
      <div class="text-grey-300 max-w-[59.125rem] space-y-14 text-center">
        <h2 class="text-3xl font-semibold lg:text-5xl">
          {data.descriptionSectionHeader}
        </h2>
        <div class="space-y-4">
          <h3 class="text-xl font-medium lg:text-3xl">
            {data.descriptionSectionSubHeader}
          </h3>
          <p class="text-sm font-normal lg:text-2xl">
            {data.descriptionSectionContent}
          </p>
        </div>
      </div>
    </div>
    <!-- Use cases -->
    <div
      class="page-container text-grey-300 mt-40 max-w-[39.125rem] space-y-4 text-center"
    >
      <h2 class="text-2xl font-semibold lg:text-4xl">
        {data.usecaseSectionTitle}
      </h2>
    </div>
    <div
      class="w-full bg-[url('../assets/background/usecase_container_vector.svg')] bg-center bg-no-repeat md:bg-[length:100%_100%]"
    >
      <section
        class="page-container my-20 flex flex-col gap-16 px-4 md:gap-24 md:px-8 lg:px-16"
      >
        {
          usecases.map((usecase, index) => (
            <article
              class={`flex flex-col-reverse items-center justify-between gap-4 md:flex-row md:gap-16 ${
                index % 2 === 1 ? "md:flex-row-reverse" : ""
              }`}
            >
              <div class="text-grey-300 basis-1/2 space-y-4 text-left">
                <h3 class="text-xl font-medium lg:text-3xl">
                  <a
                    href={usecase.articleLink}
                    class="transition-colors hover:text-green-200"
                    target="_blank"
                  >
                    {usecase.title}
                  </a>
                </h3>
                <p class="text-base font-normal lg:text-lg">
                  {usecase.description}
                </p>
              </div>
              <div class="space-y-4">
                <div class="shadow-thumbnail flex h-fit basis-1/2 justify-center rounded-[2.2rem] bg-green-50 p-2">
                  <img
                    src={usecase.imagePath}
                    alt={usecase.title}
                    class="shadow-thumbnail h-[18.71rem] w-full rounded-[1.7rem] object-cover sm:w-[38rem] md:h-101"
                    loading="lazy"
                  />
                </div>
                <div class="text-grey-100 flex items-center gap-2">
                  {usecase.authors && (
                    <span class="max-w-56 overflow-hidden text-xs text-ellipsis whitespace-nowrap md:text-sm">
                      {`${usecase.authors.join(", ")}`}
                    </span>
                  )}
                  <span class="text-grey-50 text-sm">•</span>
                  {usecase.sourceName && (
                    <a
                      href={usecase.sourceLink}
                      target="_blank"
                      class="text-xs underline transition-colors delay-150 ease-in-out hover:text-green-200 sm:text-base md:text-sm"
                    >
                      Source link
                    </a>
                  )}
                </div>
              </div>
            </article>
          ))
        }
      </section>
    </div>
  </UsecaseContentBgVector>

  <!-- CTAs -->
  <section class="page-container my-28 space-y-14">
    <div
      class="text-grey-300 flex w-full flex-col items-center justify-center space-y-4 text-center"
    >
      <h2 class="text-2xl font-semibold lg:text-4xl">
        {data.callToActionSectionTitle}
      </h2>
      <p class="text-grey-200 max-w-xl text-sm font-normal lg:text-2xl">
        {data.callToActionSectionDescription}
      </p>
    </div>

    <ul class="grid grid-cols-1 gap-6 md:grid-cols-2 md:px-8 lg:grid-cols-3">
      {
        callToActionCards.map((card, index) => (
          <li
            class={`relative flex h-72 flex-col justify-between overflow-hidden rounded-lg border border-gray-200 p-6 text-left ${
              index === 0
                ? "bg-green-50 bg-[url('../assets/background/usecase_cta_green_vector.svg')] bg-cover bg-no-repeat"
                : index === 1
                  ? "bg-grey-50 bg-[url('../assets/background/usecase_cta_grey_vector.svg')] bg-cover bg-no-repeat"
                  : "bg-red-50 bg-[url('../assets/background/usecase_cta_red_vector.svg')] bg-cover bg-no-repeat"
            }`}
          >
            <div class="space-y-4">
              <div class="flex w-full items-center">
                <div class="bg-grey-400 h-[0.063rem] w-full" />
                <span class="text-xs">●</span>
              </div>

              <div class="mt-4 space-y-2">
                <h3 class="text-2xl font-semibold">{card.title}</h3>
                <p class="text-base text-gray-700">{card.description}</p>
              </div>
            </div>

            <a
              href={card.buttonLink}
              target="_blank"
              rel="noopener noreferrer"
              class="group mt-6 inline-flex items-center gap-2 text-base font-medium text-red-200 hover:underline"
            >
              {card.buttonText}

              <span class="flex size-6 items-center justify-center rounded-full bg-red-200 text-white transition-transform duration-300 ease-out group-hover:translate-x-1">
                <ArrowRight className="size-3" />
              </span>
            </a>
          </li>
        ))
      }
    </ul>
  </section>
</main>
